<a href="https://colab.research.google.com/github/daiduong101202/AI--ChieuT6/blob/main/Movies_re.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import difflib
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
# loading the data from the csv file to apandas dataframe
movies_data = pd.read_csv('/content/movies_re.csv')

In [3]:
# printing the first 5 rows of the dataframe
movies_data.head()

,index,budget,genres,homepage,id,keywords,overview,tagline,title,cast,director
0,0,237000000,Drama Romance,https://www.imdb.com/title/tt0120338/,16878,iceberg sailor's death shipwreck nude modeling...,"84 years later, a 100 year-old woman named Ros...",Experience It Like Never Before,Titanic,Leonardo DiCaprio Kate Winslet Billy Zane Kath...,James Cameron
1,1,78000000,Action Fantasy Adventure Sci-Fi,https://www.imdb.com/title/tt10872600/?ref_=nv...,4789,spiderman character superhero marvel cinematic...,Peter Parker's secret identity is revealed to ...,The Multiverse Unleashed.,Spider-Man: No Way Home,Tom Holland Zendaya Benedict Cumberbatch Jacob...,Jon Watts
2,2,12000000,Action Adventure Sci_Fi,https://www.imdb.com/title/tt2250912/?ref_=nv_...,3254,marvel cinematic universe superhero reboot ave...,A young Peter Parker/Spider-Man begins to navi...,\nHomework can wait. The city can't.,Spider-Man: Homecoming,Tom Holland Michael Keaton Robert Downey Jr. M...,Jon Watts
3,3,560000000,Action Adventure Sci_Fi Drama,https://www.imdb.com/title/tt4154796/?ref_=ttl...,1257,time travel superhero super villain cosmic mar...,After the devastating events of Avengers: Infi...,Avenge the fallen.,Avengers: Endgame,Robert Downey Jr. Chris Evans Mark Ruffalo Chr...,Anthony Russo
4,4,355000000,Action Adventure Sci-Fi,https://www.imdb.com/title/tt4154756/?ref_=tt_...,1125,superhero death of recurring character supervi...,As the Avengers and their allies have continue...,\nAn entire universe. Once and for all.,Avengers: Infinity War,Robert Downey Jr. Chris Evans Mark Ruffalo Chr...,Anthony Russo

In [4]:
# number of rows and columns in the data frame

movies_data.shape

(30, 11)

In [5]:
# selecting the relevant features for recommendation

selected_features = ['genres','keywords','tagline','cast','director']
print(selected_features)

['genres', 'keywords', 'tagline', 'cast', 'director']

In [6]:
# replacing the null valuess with null string

for feature in selected_features:
  movies_data[feature] = movies_data[feature].fillna('')

In [7]:
# combining all the 5 selected features

combined_features = movies_data['genres']+' '+movies_data['keywords']+' '+movies_data['tagline']+' '+movies_data['cast']+' '+movies_data['director']

In [8]:
print(combined_features)

0     Drama Romance iceberg sailor's death shipwreck...
1     Action Fantasy Adventure Sci-Fi  spiderman cha...
2     Action Adventure Sci_Fi marvel cinematic unive...
3     Action Adventure Sci_Fi Drama time travel supe...
4     Action Adventure Sci-Fi superhero death of rec...
5     Action Crime Thriller Drama  batman character ...
6     Action Crime Thriller Drama  dc comics psychop...
7     Action Adventure Thriller Sci-Fi  tyrannosauru...
8     Adventure Fantasy wizard hobbit dragon orc swo...
9     Adventure Family Fantasy  magic wizard orphan ...
10    Adventure Family Fantasy Mystery  wonderland a...
11    Action Adventure Sci_Fi villian alien parasite...
12    Action Adventure Sci_Fi superhero peter parker...
13    Action Adventure Sci_Fi villian alien parasite...
14    Adventure Family Mystery Fantasy invisibility ...
15    Adventure Family Mystery Fantasy werewolf rat ...
16    Adventure Family Mystery Fantasy friendship ar...
17    Adventure Family Mystery Fantasy tournament wi...
18    Animation Adventure Comedy Drama Family Fantas...
19    \nAnimation Adventure Comedy Family Fantasy Sc...
20    \nAnimation Adventure Comedy Family Fantasy My...
21    \nAction Adventure Sci-Fi billiionare inventor...
22    \nAction Sci-Fi superhero billionare power sui...
23    \nAction Adventure Sci-Fi terrorist billionare...
24    \nAction Adventure Fantasy Sci-Fi famous twist...
25    Action Adventure Fantasy Sci-Fi rebellion gala...
26    \nAction Adventure Fantasy Sci-Fi death star m...
27    \nAction Adventure Crime Mystery Thriller fast...
28    Action Adventure Comedy Sci-Fi based on comic ...
29    Action Thriller female protagonist assassin da...
dtype: object

In [9]:
# converting the text data to feature vectors

vectorizer = TfidfVectorizer()

In [10]:
feature_vectors = vectorizer.fit_transform(combined_features)

In [11]:
print(feature_vectors)

  (0, 79)	0.15010766706481002
  (0, 261)	0.1060239514806124
  (0, 389)	0.15010766706481002
  (0, 55)	0.15010766706481002
  (0, 482)	0.15010766706481002
  (0, 203)	0.15010766706481002
  (0, 179)	0.1133399188491523
  (0, 185)	0.15010766706481002
  (0, 42)	0.15010766706481002
  (0, 281)	0.15010766706481002
  (0, 572)	0.15010766706481002
  (0, 58)	0.1133399188491523
  (0, 556)	0.15010766706481002
  (0, 280)	0.15010766706481002
  (0, 139)	0.15010766706481002
  (0, 299)	0.15010766706481002
  (0, 47)	0.15010766706481002
  (0, 358)	0.15010766706481002
  (0, 305)	0.15010766706481002
  (0, 257)	0.1060239514806124
  (0, 162)	0.15010766706481002
  (0, 542)	0.15010766706481002
  (0, 144)	0.15010766706481002
  (0, 308)	0.15010766706481002
  (0, 509)	0.13383767929066442
  :	:
  (28, 261)	0.14286815085649773
  (28, 257)	0.14286815085649773
  (29, 82)	0.21375946585501432
  (29, 362)	0.21375946585501432
  (29, 53)	0.21375946585501432
  (29, 198)	0.21375946585501432
  (29, 195)	0.21375946585501432
  (29, 176)	0.21375946585501432
  (29, 275)	0.21375946585501432
  (29, 224)	0.21375946585501432
  (29, 374)	0.21375946585501432
  (29, 382)	0.21375946585501432
  (29, 312)	0.21375946585501432
  (29, 307)	0.21375946585501432
  (29, 267)	0.21375946585501432
  (29, 31)	0.21375946585501432
  (29, 391)	0.21375946585501432
  (29, 124)	0.21375946585501432
  (29, 129)	0.21375946585501432
  (29, 33)	0.21375946585501432
  (29, 400)	0.21375946585501432
  (29, 174)	0.21375946585501432
  (29, 506)	0.15098244932784471
  (29, 8)	0.16436982273120143
  (29, 377)	0.19059033689528315

In [12]:
# getting the similarity scores using cosine similarity

similarity = cosine_similarity(feature_vectors)

In [13]:
print(similarity)

[[1.         0.         0.         0.01397318 0.03776492 0.01514722
  0.01487346 0.01364369 0.         0.         0.01269667 0.01307261
  0.01416672 0.01495886 0.         0.         0.         0.
  0.054329   0.         0.01388654 0.         0.01421234 0.
  0.03787736 0.04515327 0.06346275 0.01434051 0.03029489 0.02550817]
 [0.         1.         0.2945238  0.13979397 0.17617546 0.04371349
  0.01701241 0.04360749 0.02901837 0.02377674 0.04766004 0.04652153
  0.10398289 0.0987192  0.02999441 0.02965201 0.06883025 0.01390096
  0.03041353 0.03154073 0.03072003 0.14284711 0.13375874 0.11044193
  0.06705974 0.04392505 0.03355628 0.06026419 0.08237619 0.01291022]
 [0.         0.2945238  1.         0.17075121 0.12629117 0.06867004
  0.0449057  0.00836669 0.01881408 0.01287692 0.03493631 0.04478023
  0.05059231 0.04332409 0.00366321 0.0036214  0.01085241 0.00401673
  0.0037144  0.00350282 0.00341167 0.20009585 0.18983125 0.17761695
  0.03177769 0.0157016  0.00786767 0.03974803 0.04024427 0.01176716]
 [0.01397318 0.13979397 0.17075121 1.         0.64470079 0.09293553
  0.04408745 0.03846131 0.01885342 0.04953355 0.00986007 0.05371625
  0.06986298 0.05353293 0.06607457 0.00362897 0.01087511 0.00402513
  0.02251545 0.00351014 0.00341881 0.10441339 0.19385118 0.12882814
  0.07304528 0.04990093 0.06519384 0.03983116 0.10372429 0.01179177]
 [0.03776492 0.17617546 0.12629117 0.64470079 1.         0.06486323
  0.01578239 0.0911028  0.0278382  0.06233812 0.01685466 0.02907317
  0.04123923 0.03326815 0.04514617 0.03023687 0.02613374 0.00408829
  0.01192524 0.02157956 0.02101806 0.14090798 0.18211685 0.16718357
  0.09819889 0.08372986 0.07816675 0.07287415 0.10498032 0.01197679]
 [0.01514722 0.04371349 0.06867004 0.09293553 0.06486323 1.
  0.13330055 0.06097246 0.10439667 0.00955352 0.04916246 0.05067617
  0.06563058 0.04938757 0.00857281 0.00847495 0.03220608 0.
  0.02906493 0.         0.         0.02149124 0.07279915 0.03546894
  0.02567388 0.0133887  0.00512249 0.07549411 0.05027399 0.0343528 ]
 [0.01487346 0.01701241 0.0449057  0.04408745 0.01578239 0.13330055
  1.         0.02340138 0.03041408 0.01949487 0.         0.03499962
  0.0315076  0.04004973 0.01749364 0.01729394 0.01642989 0.01918188
  0.02000413 0.         0.         0.00573439 0.03247919 0.01790777
  0.00649721 0.00538789 0.00502991 0.04984126 0.02371024 0.03373192]
 [0.01364369 0.04360749 0.00836669 0.03846131 0.0911028  0.06097246
  0.02340138 1.         0.00346768 0.02187735 0.01620299 0.10685864
  0.03812646 0.04025832 0.02735341 0.01117712 0.02512331 0.00393022
  0.01146417 0.0483203  0.02020542 0.0784522  0.05687418 0.02922282
  0.03405772 0.04161947 0.02328206 0.0334369  0.0993158  0.0309429 ]
 [0.         0.02901837 0.01881408 0.01885342 0.0278382  0.10439667
  0.03041408 0.00346768 1.         0.06977259 0.02408314 0.04436991
  0.02778777 0.00380194 0.07677139 0.06466893 0.04083258 0.07172866
  0.01212083 0.01143039 0.03952893 0.00371757 0.07575391 0.00409291
  0.0537959  0.02606792 0.02336    0.05953719 0.03702576 0.        ]
 [0.         0.02377674 0.01287692 0.04953355 0.06233812 0.00955352
  0.01949487 0.02187735 0.06977259 1.         0.03194537 0.02592006
  0.01915433 0.02022535 0.38120008 0.54031664 0.27115809 0.47867532
  0.07319962 0.02688016 0.02618073 0.04752389 0.06890784 0.00471455
  0.06555834 0.02135923 0.02690792 0.02228779 0.11056689 0.        ]
 [0.01269667 0.04766004 0.03493631 0.00986007 0.01685466 0.04916246
  0.         0.01620299 0.02408314 0.03194537 1.         0.02182497
  0.01682413 0.01776486 0.08340427 0.06768928 0.07997675 0.05459176
  0.06857139 0.02053964 0.04814505 0.02959795 0.02054841 0.00360247
  0.03137574 0.05879485 0.02190309 0.05991278 0.04775989 0.        ]
 [0.01307261 0.04652153 0.04478023 0.05371625 0.02907317 0.05067617
  0.03499962 0.10685864 0.04436991 0.02592006 0.02182497 1.
  0.32507978 0.68186244 0.02325925 0.02299374 0.04269117 0.01739124
  0.01098431 0.00328391 0.00319846 0.03608034 0.09001634 0.02499762
  0.03550234 0.01945588 0.01179689 0.03453344 0.06971207 0.02206358]
 [0.01416672 0.10398289 0.05059231 0.06986298 0.04123923 0.06563058
  0.0315076  0.03812646 0.02778777 0.01915433 0.01682413 0.32507978
  1.         0.54231193 0.02520594 0.0249182  0.03873388 0.0188468
  0.01190364 0.00355876 0.00346616 0.01457476 0.09702826 0.07047294
  0.02065023 0.04129308 0.01278423 0.02200085 0.0423286  0.02391019]
 [0.01495886 0.0987192  0.04332409 0.05353293 0.03326815 0.04938757
  0.04004973 0.04025832 0.00380194 0.02022535 0.01776486 0.68186244
  0.54231193 1.         0.02661534 0.02631152 0.0408997  0.01990063
  0.01256924 0.00375775 0.00365997 0.01538972 0.07879528 0.02860453
  0.0218049  0.0144598  0.01349907 0.02323103 0.06256923 0.02524714]
 [0.         0.02999441 0.00366321 0.06607457 0.04514617 0.00857281
  0.01749364 0.02735341 0.07677139 0.38120008 0.08340427 0.02325925
  0.02520594 0.02661534 1.         0.35543432 0.27392404 0.44854328
  0.05191661 0.0241208  0.06747101 0.00384261 0.         0.00423058
  0.01808711 0.03222008 0.03923584 0.02698856 0.04818408 0.        ]
 [0.         0.02965201 0.0036214  0.00362897 0.03023687 0.00847495
  0.01729394 0.01117712 0.06466893 0.54031664 0.06768928 0.02299374
  0.0249182  0.02631152 0.35543432 1.         0.32931884 0.45601222
  0.03374483 0.02384546 0.0376848  0.00379874 0.         0.00418229
  0.03961199 0.03185228 0.02387008 0.02668048 0.03227153 0.        ]
 [0.         0.06883025 0.01085241 0.01087511 0.02613374 0.03220608
  0.01642989 0.02512331 0.04083258 0.27115809 0.07997675 0.04269117
  0.03873388 0.0408997  0.27392404 0.32931884 1.         0.27428781
  0.04813159 0.02265407 0.03580196 0.00360895 0.02266374 0.00397333
  0.05819878 0.09212887 0.04094239 0.05583827 0.04399557 0.        ]
 [0.         0.01390096 0.00401673 0.00402513 0.00408829 0.
  0.01918188 0.00393022 0.07172866 0.47867532 0.05459176 0.01739124
  0.0188468  0.01990063 0.44854328 0.45601222 0.27428781 1.
  0.0475444  0.0264486  0.04179875 0.00421344 0.         0.00463885
  0.01983262 0.01248758 0.04302233 0.02069361 0.02389862 0.        ]
 [0.054329   0.03041353 0.0037144  0.02251545 0.01192524 0.02906493
  0.02000413 0.01146417 0.01212083 0.07319962 0.06857139 0.01098431
  0.01190364 0.01256924 0.05191661 0.03374483 0.04813159 0.0475444
  1.         0.40354661 0.42154799 0.04324126 0.0382299  0.00428969
  0.01833985 0.01154765 0.0260814  0.03133699 0.09481895 0.        ]
 [0.         0.03154073 0.00350282 0.00351014 0.02157956 0.
  0.         0.0483203  0.01143039 0.02688016 0.02053964 0.00328391
  0.00355876 0.00375775 0.0241208  0.02384546 0.02265407 0.0264486
  0.40354661 1.         0.34141666 0.02224014 0.01803962 0.02448564
  0.03833069 0.05610971 0.02645128 0.00360242 0.04498666 0.        ]
 [0.01388654 0.03072003 0.00341167 0.00341881 0.02101806 0.
  0.         0.02020542 0.03952893 0.02618073 0.04814505 0.00319846
  0.00346616 0.00365997 0.06747101 0.0376848  0.03580196 0.04179875
  0.42154799 0.34141666 1.         0.02166145 0.01757023 0.02384852
  0.03733332 0.02759656 0.02576301 0.0352918  0.0438161  0.        ]
 [0.         0.14284711 0.20009585 0.10441339 0.14090798 0.02149124
  0.00573439 0.0784522  0.00371757 0.04752389 0.02959795 0.03608034
  0.01457476 0.01538972 0.00384261 0.00379874 0.00360895 0.00421344
  0.04324126 0.02224014 0.02166145 1.         0.2564652  0.17492871
  0.03651197 0.02673619 0.0249598  0.02577074 0.11076271 0.01234342]
 [0.01421234 0.13375874 0.18983125 0.19385118 0.18211685 0.07279915
  0.03247919 0.05687418 0.07575391 0.06890784 0.02054841 0.09001634
  0.09702826 0.07879528 0.         0.         0.02266374 0.
  0.0382299  0.01803962 0.01757023 0.2564652  1.         0.28843933
  0.08081994 0.06215459 0.02103968 0.05178983 0.18899314 0.01199359]
 [0.         0.11044193 0.17761695 0.12882814 0.16718357 0.03546894
  0.01790777 0.02922282 0.00409291 0.00471455 0.00360247 0.02499762
  0.07047294 0.02860453 0.00423058 0.00418229 0.00397333 0.00463885
  0.00428969 0.02448564 0.02384852 0.17492871 0.28843933 1.
  0.04019844 0.05562968 0.02747989 0.01015602 0.03244364 0.01358968]
 [0.03787736 0.06705974 0.03177769 0.07304528 0.09819889 0.02567388
  0.00649721 0.03405772 0.0537959  0.06555834 0.03137574 0.03550234
  0.02065023 0.0218049  0.01808711 0.03961199 0.05819878 0.01983262
  0.01833985 0.03833069 0.03733332 0.03651197 0.08081994 0.04019844
  1.         0.41816665 0.3441005  0.05072341 0.09825792 0.01398542]
 [0.04515327 0.04392505 0.0157016  0.04990093 0.08372986 0.0133887
  0.00538789 0.04161947 0.02606792 0.02135923 0.05879485 0.01945588
  0.04129308 0.0144598  0.03222008 0.03185228 0.09212887 0.01248758
  0.01154765 0.05610971 0.02759656 0.02673619 0.06215459 0.05562968
  0.41816665 1.         0.28224248 0.02362889 0.06201012 0.01159757]
 [0.06346275 0.03355628 0.00786767 0.06519384 0.07816675 0.00512249
  0.00502991 0.02328206 0.02336    0.02690792 0.02190309 0.01179689
  0.01278423 0.01349907 0.03923584 0.02387008 0.04094239 0.04302233
  0.0260814  0.02645128 0.02576301 0.0249598  0.02103968 0.02747989
  0.3441005  0.28224248 1.         0.00809139 0.06872711 0.01082701]
 [0.01434051 0.06026419 0.03974803 0.03983116 0.07287415 0.07549411
  0.04984126 0.0334369  0.05953719 0.02228779 0.05991278 0.03453344
  0.02200085 0.02323103 0.02698856 0.02668048 0.05583827 0.02069361
  0.03133699 0.00360242 0.0352918  0.02577074 0.05178983 0.01015602
  0.05072341 0.02362889 0.00809139 1.         0.08157183 0.03252322]
 [0.03029489 0.08237619 0.04024427 0.10372429 0.10498032 0.05027399
  0.02371024 0.0993158  0.03702576 0.11056689 0.04775989 0.06971207
  0.0423286  0.06256923 0.04818408 0.03227153 0.04399557 0.02389862
  0.09481895 0.04498666 0.0438161  0.11076271 0.18899314 0.03244364
  0.09825792 0.06201012 0.06872711 0.08157183 1.         0.01278272]
 [0.02550817 0.01291022 0.01176716 0.01179177 0.01197679 0.0343528
  0.03373192 0.0309429  0.         0.         0.         0.02206358
  0.02391019 0.02524714 0.         0.         0.         0.
  0.         0.         0.         0.01234342 0.01199359 0.01358968
  0.01398542 0.01159757 0.01082701 0.03252322 0.01278272 1.        ]]

In [14]:
print(similarity.shape)

(30, 30)

In [15]:
# getting the movie name from the user

movie_name = input(' Enter your favourite movie name : ')

 Enter your favourite movie name : Spider-Man

In [16]:
# creating a list with all the movie names given in the dataset

list_of_all_titles = movies_data['title'].tolist()
print(list_of_all_titles)

['Titanic', 'Spider-Man: No Way Home', 'Spider-Man: Homecoming', 'Avengers: Endgame', 'Avengers: Infinity War', 'The Batman', 'The Dark Knight', 'Jurassic World: Dominion', 'The Hobbit: An Unexpected Journey', "Harry Potter and the Sorcerer's Stone", 'Alice in Wonderland', 'Spider-Man 3', 'Spider-Man', 'Spider-Man 2', 'Harry Potter and the Chamber of Secrets', 'Harry Potter and the Prisoner of Azkaban ', 'Harry Potter and the Order of the Phoenix', 'Harry Potter and the Goblet of Fire', "Doraemon the Movie: Nobita's Sky Utopia (Coming soon)", "Doraemon the Movie: Nobita's New Dinosaur", 'Doraemon: Great Adventure in the Antarctic Kachi Kochi', 'Iron Man', 'Iron Man 2 ', 'Iron Man 3', 'Star Wars: Episode V - The Empire Strikes Back', 'Star Wars: Episode IV - A New Hope', 'Star Wars: Episode VI - Return of the Jedi', 'Fast X', 'Guardians of the Galaxy Vol. 3', 'The Mother ']

In [17]:
# finding the close match for the movie name given by the user

find_close_match = difflib.get_close_matches(movie_name, list_of_all_titles)
print(find_close_match)

['Spider-Man', 'Spider-Man 3', 'Spider-Man 2']

In [18]:
close_match = find_close_match[0]
print(close_match)

Spider-Man

In [19]:
# finding the index of the movie with title

index_of_the_movie = movies_data[movies_data.title == close_match]['index'].values[0]
print(index_of_the_movie)

12

In [20]:
# getting a list of similar movies

similarity_score = list(enumerate(similarity[index_of_the_movie]))
print(similarity_score)

[(0, 0.014166717372244458), (1, 0.1039828906030285), (2, 0.050592311099907535), (3, 0.06986297679865035), (4, 0.041239232787165084), (5, 0.06563057968150747), (6, 0.031507602112950915), (7, 0.03812645599998821), (8, 0.027787771726735428), (9, 0.019154327419398577), (10, 0.01682412656125791), (11, 0.32507977999805526), (12, 0.9999999999999996), (13, 0.5423119276440621), (14, 0.025205936212070564), (15, 0.024918203395459144), (16, 0.03873387589356974), (17, 0.01884680271707348), (18, 0.0119036408953423), (19, 0.0035587602255372094), (20, 0.0034661603734415423), (21, 0.014574762726955917), (22, 0.09702825715939936), (23, 0.07047293920465626), (24, 0.020650228735356956), (25, 0.04129307802846428), (26, 0.012784233428158414), (27, 0.022000845935573846), (28, 0.04232860104736622), (29, 0.023910185783708078)]

In [21]:
len(similarity_score)

30

In [22]:
# sorting the movies based on their similarity score

sorted_similar_movies = sorted(similarity_score, key = lambda x:x[1], reverse = True) 
print(sorted_similar_movies)

[(12, 0.9999999999999996), (13, 0.5423119276440621), (11, 0.32507977999805526), (1, 0.1039828906030285), (22, 0.09702825715939936), (23, 0.07047293920465626), (3, 0.06986297679865035), (5, 0.06563057968150747), (2, 0.050592311099907535), (28, 0.04232860104736622), (25, 0.04129307802846428), (4, 0.041239232787165084), (16, 0.03873387589356974), (7, 0.03812645599998821), (6, 0.031507602112950915), (8, 0.027787771726735428), (14, 0.025205936212070564), (15, 0.024918203395459144), (29, 0.023910185783708078), (27, 0.022000845935573846), (24, 0.020650228735356956), (9, 0.019154327419398577), (17, 0.01884680271707348), (10, 0.01682412656125791), (21, 0.014574762726955917), (0, 0.014166717372244458), (26, 0.012784233428158414), (18, 0.0119036408953423), (19, 0.0035587602255372094), (20, 0.0034661603734415423)]

In [23]:
# print the name of similar movies based on the index

print('Movies suggested for you : \n')

i = 1

for movie in sorted_similar_movies:
  index = movie[0]
  title_from_index = movies_data[movies_data.index==index]['title'].values[0]
  if (i<30):
    print(i, '.',title_from_index)
    i+=1

Movies suggested for you :

1 . Spider-Man
2 . Spider-Man 2
3 . Spider-Man 3
4 . Spider-Man: No Way Home
5 . Iron Man 2
6 . Iron Man 3
7 . Avengers: Endgame
8 . The Batman
9 . Spider-Man: Homecoming
10 . Guardians of the Galaxy Vol. 3
11 . Star Wars: Episode IV - A New Hope
12 . Avengers: Infinity War
13 . Harry Potter and the Order of the Phoenix
14 . Jurassic World: Dominion
15 . The Dark Knight
16 . The Hobbit: An Unexpected Journey
17 . Harry Potter and the Chamber of Secrets
18 . Harry Potter and the Prisoner of Azkaban
19 . The Mother
20 . Fast X
21 . Star Wars: Episode V - The Empire Strikes Back
22 . Harry Potter and the Sorcerer's Stone
23 . Harry Potter and the Goblet of Fire
24 . Alice in Wonderland
25 . Iron Man
26 . Titanic
27 . Star Wars: Episode VI - Return of the Jedi
28 . Doraemon the Movie: Nobita's Sky Utopia (Coming soon)
29 . Doraemon the Movie: Nobita's New Dinosaur

In [24]:
movie_name = input(' Enter your favourite movie name : ')

list_of_all_titles = movies_data['title'].tolist()

find_close_match = difflib.get_close_matches(movie_name, list_of_all_titles)

close_match = find_close_match[0]

index_of_the_movie = movies_data[movies_data.title == close_match]['index'].values[0]

similarity_score = list(enumerate(similarity[index_of_the_movie]))

sorted_similar_movies = sorted(similarity_score, key = lambda x:x[1], reverse = True) 

print('Movies suggested for you : \n')

i = 1

for movie in sorted_similar_movies:
  index = movie[0]
  title_from_index = movies_data[movies_data.index==index]['title'].values[0]
  if (i<30):
    print(i, '.',title_from_index)
    i+=1

 Enter your favourite movie name : Bat man
Movies suggested for you :

1 . The Batman
2 . The Dark Knight
3 . The Hobbit: An Unexpected Journey
4 . Avengers: Endgame
5 . Fast X
6 . Iron Man 2
7 . Spider-Man: Homecoming
8 . Spider-Man
9 . Avengers: Infinity War
10 . Jurassic World: Dominion
11 . Spider-Man 3
12 . Guardians of the Galaxy Vol. 3
13 . Spider-Man 2
14 . Alice in Wonderland
15 . Spider-Man: No Way Home
16 . Iron Man 3
17 . The Mother
18 . Harry Potter and the Order of the Phoenix
19 . Doraemon the Movie: Nobita's Sky Utopia (Coming soon)
20 . Star Wars: Episode V - The Empire Strikes Back
21 . Iron Man
22 . Titanic
23 . Star Wars: Episode IV - A New Hope
24 . Harry Potter and the Sorcerer's Stone
25 . Harry Potter and the Chamber of Secrets
26 . Harry Potter and the Prisoner of Azkaban
27 . Star Wars: Episode VI - Return of the Jedi
28 . Harry Potter and the Goblet of Fire
29 . Doraemon the Movie: Nobita's New Dinosaur